body {
    background-color: rgb(110, 163, 241);
}

.container-form{
    width: 450px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.form input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    outline: none;
    font-size: 1.1rem;
}


.btn-join{
    width: 80%;
    cursor: pointer;
    background-color: rgb(55, 55, 245);
    color: rgb(252, 247, 247);
    padding: 18px;
    margin: 8px;
    border-radius: 8px;
    transition: all .8s;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
}

.btn-join:hover{
    background-color: rgb(6, 6, 145);

}